In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df = pd.read_csv('./data/train.csv')
testdf = pd.read_csv('./data/test.csv')

# 지수 표현 제거
pd.options.display.float_format = '{:.5f}'.format

# 1. 결측치 제거

feature 수를 줄이기 위해 columns끼리 계산하려면 공통된 8개의 결측치 채워야함

## bedcount nan 제거

### 병상개수 nan, nan아닌 df 생성

In [2]:
bedCount_nandf = df.loc[df['bedCount'].isnull(), : ]
bedCount_df = df.drop(bedCount_nandf.index)

#### train으로 사용

In [3]:
df.loc[df['OC'] == 'open'].groupby(df['instkind']).mean()

,inst_id,sgg,openDate,bedCount,revenue1,salescost1,sga1,salary1,noi1,noe1,...,receivableL2,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2
instkind,,,,,,,,,,,,,,,,,,,,,
clinic,271.70588,74.29412,20040722.29412,4.70588,18339861664.12500,9116122488.62500,8549328763.12500,2569290592.56250,126356150.00000,342802888.12500,...,0.00000,5300370403.75000,3415634461.75000,379261858.56250,1884985942.00000,539146702.06250,4448940725.00000,51648627.75000,89.06250,83.87500
dental_clinic,109.00000,79.00000,20120501.00000,0.00000,15472543033.00000,9405840570.00000,5046172942.00000,2268689456.00000,42491802.00000,403788486.00000,...,0.00000,12854804061.00000,5736049364.00000,2361425349.00000,7118754697.00000,7118754697.00000,5762838062.00000,0.00000,107.00000,109.00000
general_hospital,164.83333,79.13889,19970821.38889,263.27778,42938346277.37500,6935818000.15625,34932735643.40625,19624813058.65625,1028942538.37500,1609590487.25000,...,0.00000,26734046031.28125,13899455245.78125,5028724670.21875,13518376219.50000,6810055954.12500,14768131130.00000,3020268756.06250,414.33333,394.17143
hospital,212.68675,85.14458,20021714.48193,94.00000,13884962171.80723,1686050998.90361,11538428210.50602,6161557367.39759,273635058.03614,536577494.06024,...,0.00000,8973433613.93976,3655260967.22892,1587765132.36145,5318148550.32530,2753966478.55422,5845555992.65060,1598594714.02410,127.01235,117.02469
nursing_hospital,223.87770,80.19424,20088483.11511,168.78417,5924620309.75000,347728169.05882,5212944510.75735,3034021641.32353,135385697.16176,302259292.86029,...,0.00000,4337194466.54412,1939622485.65441,876654761.10294,2594592634.96324,2188024725.98529,3231501602.43382,369927831.01471,94.72993,90.75182
traditional_clinic,196.33333,64.33333,20063947.66667,0.00000,6617933300.33333,2690851471.00000,3610384016.66667,1990843490.00000,26263749.33333,140414603.33333,...,0.00000,2986456505.00000,2588898960.66667,2231373156.33333,397557544.33333,331964365.33333,2386138257.66667,0.00000,80.00000,81.00000
traditional_hospital,254.28571,61.85714,19998960.14286,46.66667,3966556581.57143,464822148.14286,3208824623.57143,1859422505.71429,26344026.85714,169469005.14286,...,0.00000,3759818962.28571,1824881457.00000,914026469.42857,1934937505.28571,1679223142.85714,2620367473.00000,895634285.71429,38.33333,35.50000

In [4]:
bedCount_df.loc[93, ['employee1','employee2']] = [84.33333, 88.66667] #close, hospital
bedCount_df.loc[212, ['employee1','employee2']] = [203.75000, 299.00000] # close, nursing_hospital

bedCount_df.loc[48, ['employee1','employee2']] = [38.33333,35.50000] # open, traditional_hospital
bedCount_df.loc[60, ['employee1','employee2']] = [94.72993,90.75182] # nursing_hospital
bedCount_df.loc[206, ['employee1','employee2']] = [94.72993,90.75182] # nursing_hospital
bedCount_df.loc[242, ['employee1','employee2']] = [80.00000,81.00000] # traditional_clinic
bedCount_df.loc[258, ['employee1','employee2']] = [89.06250,83.87500] # clinic
bedCount_df.loc[263, ['employee1','employee2']] = [127.01235,117.02469] # hospital
bedCount_df.loc[285, ['employee1','employee2']] = [127.01235,117.02469] # hospital

#### test로 사용

In [5]:
# test로 사용할 데이터의 employee  값에 nan이 있기 때문에
# close data 중 hospital의 평균으로 mapping하자

df.loc[df['OC'] == ' close'].groupby(df['instkind']).mean() # 84.33333, 88.66667

bedCount_nandf.loc[298, ['employee1','employee2']] = [84.33333, 88.66667]
bedCount_nandf

C:\python\envs\cpu_env\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,debt2,liquidLiabilities2,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange
71,107,close,jeonbuk,26,19990805,nan,traditional_hospital,4131857876.00000,143611800.00000,3529097014.00000,...,2658296224.00000,2632717442.00000,2442950671.00000,25578782.00000,0.00000,2487828487.00000,0.00000,85.00000,74.00000,same
193,281,close,gyeonggi,12,20121213,nan,NaN,305438818.00000,22416139.00000,467475340.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,15.00000,15.00000,change
297,423,close,choongnam,159,20140618,nan,hospital,6717143911.00000,8200000000.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,79.00000,79.00000,same
298,426,close,gyeongbuk,107,19830705,nan,hospital,0.00000,0.00000,54794278.00000,...,6370097200.00000,2170972735.00000,0.00000,4199124465.00000,2498749346.00000,3259161079.00000,0.00000,84.33333,88.66667,NaN
300,428,open,seoul,79,20011017,nan,traditional_hospital,1340971077.00000,810845020.00000,504340856.00000,...,5349000469.00000,3123072057.00000,0.00000,2225928412.00000,2190000000.00000,5536177777.00000,6269440000.00000,15.00000,15.00000,same

### 병상개수 df 학습하여 nandf의 병상개수 예측

In [6]:
X_train = bedCount_df[['employee1']]
y_train = bedCount_df[['bedCount']]
X_test = bedCount_nandf[['employee1']]

In [7]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
prediction = model.predict(X_test)

In [8]:
bedCount_nandf['bedCount'] = prediction

C:\python\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### bedcount는 모두 값을 가짐

In [9]:
newdf = pd.concat([bedCount_df, bedCount_nandf]).sort_index(axis=0)

## instkind nan 제거

In [10]:
newdf.groupby(['instkind']).mean()['bedCount']

instkind
clinic                   4.44444
dental_clinic            0.00000
general_hospital       261.56757
hospital                96.77930
nursing_hospital       172.34028
traditional_clinic       0.00000
traditional_hospital    61.96259
Name: bedCount, dtype: float64

In [432]:
newdf[newdf['instkind'].isnull()]['bedCount']
# 얘의 bedCount 값이 위 중 hospital과 가장 비슷하기 때문에 hospital로 채우자.

193   93.54932
Name: bedCount, dtype: float64

In [11]:
newdf['instkind'].fillna('hospital', inplace=True)

## revenue1 ~ 공통된 8개의 결측값 채우기

8개의 값을 채우기 위해서 bedCount, instkind의 범주화를 한 뒤, 이를 grouping 하였을 때 생성되는 평균값으로 채우자

### 1 ) instkind 범주화

In [12]:
instkind_mapping = {
    'nursing_hospital' : 4,
    'general_hospital' : 4,
    'hospital' : 4,
    'traditional_hospital' : 3,
    'clinic' : 2,
    'traditional_clinic' : 1,
    'dental_clinic' : 1
}

In [13]:
def new_instkind(x) :
    return instkind_mapping.get(x)

In [14]:
newdf['newinstkind'] = list(map(lambda x : new_instkind(x), newdf['instkind']))

### 2 ) bedcount 범주화

In [15]:
li = []
for bed in newdf['bedCount'] :
    if bed == 0 :
        li.append(0)
    elif bed < 100 :
        li.append(1)
    elif bed < 200 :
        li.append(2)
    else :
        li.append(3)
        
newdf['newbedcount'] = li
newdf

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,newinstkind,newbedcount
0,1,open,choongnam,73,20071228,175.00000,nursing_hospital,4217530010.00000,0.00000,3961134739.00000,...,0.00000,536116887.00000,390000000.00000,2619290493.00000,1271224493.00000,62.00000,64.00000,same,4,2
1,3,open,gyeongnam,32,19970401,410.00000,general_hospital,nan,nan,nan,...,nan,nan,nan,nan,nan,801.00000,813.00000,same,4,3
2,4,open,gyeonggi,89,20161228,468.00000,nursing_hospital,1004521989.00000,515483669.00000,447219722.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,234.00000,1.00000,same,4,3
3,7,open,incheon,141,20000814,353.00000,general_hospital,72507342181.00000,0.00000,70677397660.00000,...,9219427379.00000,20736413926.00000,15100000000.00000,12954271998.00000,7740829037.00000,663.00000,663.00000,same,4,3
4,9,open,gyeongnam,32,20050901,196.00000,general_hospital,49043538016.00000,0.00000,47656051197.00000,...,17593752360.00000,21360007048.00000,14108027465.00000,5561941.00000,9025549604.00000,206.00000,197.00000,same,4,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,422,open,jeonnam,178,20050211,214.00000,nursing_hospital,7614696536.00000,415347464.00000,5903119133.00000,...,0.00000,6805569802.00000,5930000000.00000,5379501732.00000,811641602.00000,193.00000,141.00000,same,4,3
297,423,close,choongnam,159,20140618,119.69981,hospital,6717143911.00000,8200000000.00000,0.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,79.00000,79.00000,same,4,2
298,426,close,gyeongbuk,107,19830705,121.87902,hospital,0.00000,0.00000,54794278.00000,...,0.00000,4199124465.00000,2498749346.00000,3259161079.00000,0.00000,84.33333,88.66667,NaN,4,2
299,427,close,gyeonggi,169,20070101,180.00000,nursing_hospital,2116892231.00000,268174808.00000,3286244912.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,100.00000,nan,NaN,4,2
300,428,open,seoul,79,20011017,93.54932,traditional_hospital,1340971077.00000,810845020.00000,504340856.00000,...,0.00000,2225928412.00000,2190000000.00000,5536177777.00000,6269440000.00000,15.00000,15.00000,same,3,1

### 3 ) grouping, nan 채워주기

In [16]:
tmp = newdf.groupby(['newinstkind', 'newbedcount']).mean()
tmp

                          inst_id       sgg       openDate  bedCount  \
newinstkind newbedcount
1           0           212.80000  74.00000 20096492.80000   0.00000
2           0           260.92308  70.61538 20040772.38462   0.00000
            1           307.20000  76.20000 20060692.80000  16.00000
3           1           254.28571  61.85714 19998960.14286  53.36419
            2           107.00000  26.00000 19990805.00000 122.15142
4           0           305.50000 101.00000 20005634.25000   0.00000
            1           235.53165  83.20253 20026227.64557  52.37404
            2           220.07200  78.13600 20073640.57600 153.36463
            3           172.88710  89.04839 20040141.58065 319.30645

                                 revenue1        salescost1              sga1  \
newinstkind newbedcount
1           0            8497826658.20000  3670857873.20000  4252937347.80000
2           0           23249502653.41667 12059560207.50000 10408227595.66667
            1            3071256057.00000   240295767.60000  2580539668.80000
3           1            3966556581.57143   464822148.14286  3208824623.57143
            2            4131857876.00000   143611800.00000  3529097014.00000
4           0            7678468361.00000   234186052.00000  6841983185.00000
            1            8871353533.57692  1267852399.23077  7217010324.96154
            2            9342707571.12800   777953929.89600  8118239599.88800
            3           27055301918.64286  4029021226.78571 22094160215.98214

                                  salary1            noi1             noe1  \
newinstkind newbedcount
1           0            2179236281.60000  39528199.40000  227444101.40000
2           0            2873124168.75000 157188525.58333  399887578.25000
            1            1431328486.00000  27104580.20000  141738873.60000
3           1            1859422505.71429  26344026.85714  169469005.14286
            2            2198043355.00000  56630198.00000  228194537.00000
4           0            3933229705.75000  98985262.75000  221655511.75000
            1            4057111961.84615 243781726.02564  417673428.43590
            2            4289142850.39200 135224079.24000  363217696.16000
            3           12867513307.12500 718265023.62500 1124439156.08929

                         ...  receivableL2             debt2  \
newinstkind newbedcount  ...
1           0            ...       0.00000  4362834715.20000
2           0            ...       0.00000  6673322122.91667
            1            ...       0.00000  1152410932.60000
3           1            ...       0.00000  3759818962.28571
            2            ...       0.00000  2658296224.00000
4           0            ...       0.00000  5237542616.75000
            1            ...       0.00000  6432857724.14103
            2            ...  521938.48000  6578119297.52800
            3            ...       0.00000 16163833096.42857

                         liquidLiabilities2       shortLoan2   NCLiabilities2  \
newinstkind newbedcount
1           0              2700549249.20000 1811108963.60000 1662285466.00000
2           0              4448892981.75000  453182478.08333 2224762474.50000
            1               314196602.40000  126000000.00000  838214330.20000
3           1              1824881457.00000  914026469.42857 1934937505.28571
            2              2632717442.00000 2442950671.00000   25578782.00000
4           0              2056859630.75000 1073950304.75000 3180682986.00000
            1              2236107525.17949 1103782564.16667 4196750198.96154
            2              3206139647.28800 1388116028.63200 3418089781.65600
            3              8283435335.53571 2760260022.44643 8749557454.50000

                               longLoan2         netAsset2         surplus2  \
newinstkind newbedcount
1           0           1622929558.60000  2584250567.00000          0.00000
2           0            450399458.83333  5462883517.16667   65936886.16667
            1            790000000.00000  1461657255.40000    7027082.00000
3           1           1679223142.85714  2620367473.00000  895634285.71429
            2                    0.00000  2487828487.00000          0.00000
4           0           2426542500.00000  5869052393.75000          0.00000
            1           1863466631.23077  5403561784.62821 1672540528.85897
            2           2515608582.76800  2743630594.79200  414144897.20800
            3           5273074098.89286 11620283518.91072 1739569162.03571

                         employee1  employee2
newinstkind newbedcount
1           0             85.20000   84.40000
2           0            105.31250   99.06731
            1             32.20000   30.60000
3           1             38.33333   35.50000
            2             85.00000   74.00000
4           0             96.25000   96.75000
            1             87.94636   87.08892
            2            108.68060  105.81511
            3            310.92038  283.82653

[9 rows x 54 columns]

In [17]:
fill_columns = ['revenue1', 'salescost1', 'sga1', 'salary1', 'noi1', 'noe1',
       'interest1', 'ctax1', 'profit1', 'liquidAsset1', 'quickAsset1',
       'receivableS1', 'inventoryAsset1', 'nonCAsset1', 'tanAsset1',
       'OnonCAsset1', 'receivableL1', 'debt1', 'liquidLiabilities1',
       'shortLoan1', 'NCLiabilities1', 'longLoan1', 'netAsset1', 'surplus1',
       'revenue2', 'salescost2', 'sga2', 'salary2', 'noi2', 'noe2',
       'interest2', 'ctax2', 'profit2', 'liquidAsset2', 'quickAsset2',
       'receivableS2', 'inventoryAsset2', 'nonCAsset2', 'tanAsset2',
       'OnonCAsset2', 'receivableL2', 'debt2', 'liquidLiabilities2',
       'shortLoan2', 'NCLiabilities2', 'longLoan2', 'netAsset2', 'surplus2']

In [18]:
tmp43 = tmp.iloc[8][fill_columns]

tmp43 = pd.DataFrame(tmp43.values,
            index = [fill_columns]).transpose()

tmp43.columns = fill_columns

In [19]:
tmp41 = tmp.iloc[6][fill_columns]

tmp41 = pd.DataFrame(tmp41.values,
            index = [fill_columns]).transpose()

tmp41.columns = fill_columns

In [20]:
tmp20 = tmp.iloc[1][fill_columns]

tmp20 = pd.DataFrame(tmp20.values,
            index = [fill_columns]).transpose()

tmp20.columns = fill_columns

In [443]:
newdf.loc[newdf['revenue1'].isnull()]

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,newinstkind,newbedcount
1,3,open,gyeongnam,32,19970401,410.00000,general_hospital,nan,nan,nan,...,nan,nan,nan,nan,nan,801.00000,813.00000,same,4,3
14,26,open,ulsan,127,20160531,237.00000,general_hospital,nan,nan,nan,...,nan,nan,nan,nan,nan,951.00000,901.00000,same,4,3
32,55,open,incheon,141,19930708,232.00000,general_hospital,nan,nan,nan,...,nan,nan,nan,nan,nan,323.00000,323.00000,same,4,3
55,87,open,gyeonggi,120,20130314,327.00000,nursing_hospital,nan,nan,nan,...,nan,nan,nan,nan,nan,200.00000,203.00000,same,4,3
60,94,open,gangwon,128,20031201,244.00000,nursing_hospital,nan,nan,nan,...,nan,nan,nan,nan,nan,94.72993,90.75182,NaN,4,3
248,353,open,gyeonggi,81,20040303,255.00000,general_hospital,nan,nan,nan,...,nan,nan,nan,nan,nan,255.00000,244.00000,same,4,3
257,362,open,choongnam,94,19861212,50.00000,nursing_hospital,nan,nan,nan,...,nan,nan,nan,nan,nan,93.00000,89.00000,same,4,1
258,363,open,gyeongbuk,95,20141219,0.00000,clinic,nan,nan,nan,...,nan,nan,nan,nan,nan,89.06250,83.87500,NaN,2,0

In [21]:
# 1, 14, 32, 55, 60, 248
idx_nums = [1, 14, 32, 55, 60, 248]
for idx in idx_nums :
    for col in fill_columns :
        newdf[col][idx] = tmp43[col]

for col in fill_columns :
    newdf[col][257] = tmp41[col]
    
for col in fill_columns :
    newdf[col][258] = tmp20[col]

C:\python\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\python\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\python\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

## employee2 결측치 제거

In [22]:
employee2_nandf = newdf.loc[newdf['employee2'].isnull(), : ]
employee2_df = newdf.drop(employee2_nandf.index)

In [23]:
X_train = employee2_df[['employee1']]
y_train = employee2_df[['employee2']]
X_test = employee2_nandf[['employee1']]

In [24]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
prediction = model.predict(X_test)

In [25]:
employee2_nandf['employee2'] = prediction
newdf = pd.concat([employee2_df, employee2_nandf]).sort_index(axis=0)

C:\python\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## ownerChange 결측치 제거

4 / 12 : close, 8 / 12 : open
- close : 2 : 2 = change, same 
- open : 7 : 1 = same : change

3 / 12 : change, 9 / 12 : same

In [218]:
newdf['ownerChange'][[48, 60, 62, 93, 206, 212, 242, 258, 263]] = 'same'
newdf['ownerChange'][[285, 298, 299]] = 'change'

C:\python\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\python\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

# 2. column생성 및 삭제

## 식 계산

In [26]:
newdf['currentRatio1'] = newdf['liquidAsset1'] / (newdf['liquidLiabilities1']+1)
newdf['currentRatio2'] = newdf['liquidAsset2'] / (newdf['liquidLiabilities2']+1)
newdf["quickRatio1"] = newdf["quickAsset1"]/(newdf["liquidLiabilities1"]+1)
newdf["quickRatio2"] = newdf["quickAsset2"]/(newdf["liquidLiabilities2"]+1)
newdf["debtRatio1"] = newdf["debt1"]/(newdf["surplus1"]+1)
newdf["debtRatio2"] = newdf["debt2"]/(newdf["surplus2"]+1)

## 사용할 column 선택

In [27]:
usedf = newdf.loc[:,['inst_id', 'OC','employee1', 'employee2','newinstkind','newbedcount', 'currentRatio1', 'currentRatio2', 'quickRatio1',
       'quickRatio2', 'debtRatio1', 'debtRatio2']] # 'ownerChange',

### column type : object인 아이들 바꿔주자

In [28]:
def oc_mapping(x) :
    if x == 'open' : 
        return 1
    else :
        return 0

usedf['OC'] = list(map(lambda x : oc_mapping(x), usedf['OC']))

In [364]:
def owner_mapping(x) :
    if x == 'same' : 
        return 0
    else :
        return 1

usedf['ownerChange'] = list(map(lambda x : owner_mapping(x), usedf['ownerChange']))

# 3. test 데이터 전처리

In [41]:
testdf.employee1 = testdf.employee1.astype('str').str.replace(",", "").astype('float')
testdf.employee2 = testdf.employee2.astype('str').str.replace(",", "").astype('float')

## 1 ) bedCount

In [42]:
testdf.loc[testdf['employee1'].isnull(), : ]

testdf.loc[2, ['employee1','employee2']] = [107.00000, 109.00000] # general_hospital
testdf.loc[13, ['employee1','employee2']] = [127.01235, 117.02469] # hospital
testdf.loc[22, ['employee1','employee2']] = [127.01235, 117.02469] # hospital
testdf.loc[52, ['employee1','employee2']] = [94.72993, 90.75182] # nursing_hopital
testdf.loc[88, ['employee1','employee2']] = [94.72993, 90.75182] # nursing_hopital
testdf.loc[93, ['employee1','employee2']] = [94.72993, 90.75182] # nursing_hopital
testdf.loc[124, ['employee1','employee2']] = [127.01235, 117.02469] # hospital
testdf.loc[126, ['employee1','employee2']] = [127.01235, 117.02469] # hospital

In [43]:
bedCount_nandf = testdf.loc[testdf['bedCount'].isnull(), : ]
bedCount_df = testdf.drop(bedCount_nandf.index)

X_train = bedCount_df[['employee1']]
y_train = bedCount_df[['bedCount']]
X_test = bedCount_nandf[['employee1']]

from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
prediction = model.predict(X_test)

bedCount_nandf['bedCount'] = prediction

testdf = pd.concat([bedCount_df, bedCount_nandf]).sort_index(axis=0)

C:\python\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

## 2 )  instkind

In [44]:
testdf[testdf['instkind'].isnull()]

testdf.loc[120, ['instkind']] = 'traditional_hospital'
testdf.loc[125,['instkind']] = 'nursing_hospital'

## 3 ) 공통 2개

In [45]:
testdf['newinstkind'] = list(map(lambda x : new_instkind(x), testdf['instkind']))

li = []
for bed in testdf['bedCount'] :
    if bed == 0 :
        li.append(0)
    elif bed < 100 :
        li.append(1)
    elif bed < 200 :
        li.append(2)
    else :
        li.append(3)
        
testdf['newbedcount'] = li

In [46]:
tmp43 = tmp.iloc[8][fill_columns]
tmp43 = pd.DataFrame(tmp43.values,
            index = [fill_columns]).transpose()
tmp43.columns = fill_columns


idx_nums = [15, 56]
for idx in idx_nums :
    for col in fill_columns :
        testdf[col][idx] = tmp43[col]

C:\python\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

## 4 ) employee2 결측치 제거

In [47]:
employee2_nandf = testdf.loc[testdf['employee2'].isnull(), : ]
employee2_df = testdf.drop(employee2_nandf.index)

X_train = employee2_df[['employee1']]
y_train = employee2_df[['employee2']]
X_test = employee2_nandf[['employee1']]


from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)
prediction = model.predict(X_test)

employee2_nandf['employee2'] = prediction
testdf = pd.concat([employee2_df, employee2_nandf]).sort_index(axis=0)

C:\python\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

## 5 ) ownerChange

In [329]:
testdf.loc[testdf['ownerChange'].isnull()]

# 7 : 1 open
# 1 : 1 close

# ????????????????? 어떡하지/??????????????

,inst_id,OC,sido,sgg,openDate,bedCount,instkind,revenue1,salescost1,sga1,...,shortLoan2,NCLiabilities2,longLoan2,netAsset2,surplus2,employee1,employee2,ownerChange,newinstkind,newbedcount
2,6,nan,jeonnam,103,19890427.00000,276.00000,general_hospital,23260305967.00000,2542570943.00000,23087485220.00000,...,21822782890.00000,0.00000,0.00000,0.00000,16385400958.00000,107.00000,109.00000,NaN,4,3
20,48,nan,daegu,40,19970228.00000,154.00000,hospital,13516957558.00000,2469250576.00000,10723923120.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,150.00000,140.32901,NaN,4,2
22,64,nan,jeonbuk,34,20060629.00000,157.05664,hospital,3207566930.00000,26568783.00000,3242980986.00000,...,0.00000,16736849550.00000,10281084209.00000,16247238290.00000,0.00000,127.01235,117.02469,NaN,4,2
52,165,nan,jeonbuk,136,20050321.00000,440.00000,nursing_hospital,2179020670.00000,312206615.00000,1507567008.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,94.72993,90.75182,NaN,4,3
82,246,nan,jeonnam,145,19880801.00000,191.00000,general_hospital,10101810572.00000,1776294760.00000,8380210191.00000,...,332417093.00000,1817794680.00000,1717794680.00000,6597855415.00000,9530310.00000,116.00000,111.83957,NaN,4,2
83,254,nan,choongbuk,152,20150124.00000,60.00000,hospital,2326749862.00000,399970836.00000,3083860292.00000,...,117947275.00000,3100000000.00000,3100000000.00000,5617398048.00000,0.00000,37.00000,45.64354,NaN,4,1
88,293,nan,jeonbuk,26,20050503.00000,124.00000,nursing_hospital,19040120301.00000,1809686866.00000,18630988374.00000,...,0.00000,0.00000,0.00000,971025291.00000,4209769513.00000,94.72993,90.75182,NaN,4,2
93,310,nan,seoul,36,20100531.00000,104.00000,nursing_hospital,2846454139.00000,0.00000,2975635457.00000,...,1649456932.00000,0.00000,0.00000,1442101666.00000,397348813.00000,94.72993,90.75182,NaN,4,2
99,341,nan,busan,66,20100226.00000,136.52424,nursing_hospital,39441590.00000,1835644.00000,113993911.00000,...,0.00000,1890000000.00000,1890000000.00000,1963281786.00000,0.00000,32.00000,32.00000,NaN,4,2
104,374,nan,gyeongbuk,107,20120618.00000,142.00000,nursing_hospital,872461860.00000,0.00000,797293612.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,61.00000,65.75373,NaN,4,2
112,395,nan,jeonbuk,143,20161229.00000,156.00000,nursing_hospital,10611031.00000,0.00000,8800.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,36.00000,44.80562,NaN,4,2
113,396,nan,jeonbuk,143,20161229.00000,156.00000,nursing_hospital,10611031.00000,0.00000,8800.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,36.00000,44.80562,NaN,4,2
122,424,nan,jeonnam,33,20011012.00000,0.00000,traditional_clinic,22330305917.00000,848465677.00000,18492554091.00000,...,0.00000,2750370705.00000,0.00000,13849584833.00000,0.00000,560.00000,483.87804,NaN,1,0
124,429,nan,gyeonggi,116,20010101.00000,150.00000,hospital,14242664951.00000,1726174241.00000,11487224105.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,127.01235,117.02469,NaN,4,2
126,431,nan,choongbuk,163,19961216.00000,96.00000,hospital,10924439614.00000,1168730912.00000,8709839395.00000,...,0.00000,0.00000,0.00000,0.00000,0.00000,127.01235,117.02469,NaN,4,1

## 6 ) column 정리

In [48]:
testdf['currentRatio1'] = testdf['liquidAsset1'] / (testdf['liquidLiabilities1']+1)
testdf['currentRatio2'] = testdf['liquidAsset2'] / (testdf['liquidLiabilities2']+1)
testdf["quickRatio1"] = testdf["quickAsset1"]/(testdf["liquidLiabilities1"]+1)
testdf["quickRatio2"] = testdf["quickAsset2"]/(testdf["liquidLiabilities2"]+1)
testdf["debtRatio1"] = testdf["debt1"]/(testdf["surplus1"]+1)
testdf["debtRatio2"] = testdf["debt2"]/(testdf["surplus2"]+1)

In [49]:
testdf = testdf.loc[:,['inst_id', 'OC','employee1', 'employee2','newinstkind','newbedcount', 'currentRatio1', 'currentRatio2', 'quickRatio1',
       'quickRatio2', 'debtRatio1', 'debtRatio2']] # 'ownerChange',

In [50]:
def oc_mapping(x) :
    if x == 'open' : 
        return 0
    else :
        return 1

testdf['OC'] = list(map(lambda x : oc_mapping(x), testdf['OC']))

# def owner_mapping(x) :
#     if x == 'same' : 
#         return 0
#     else :
#         return 1

# testdf['ownerChange'] = list(map(lambda x : owner_mapping(x), testdf['ownerChange']))

# 4. 모델링

In [51]:
train_x_data = usedf.drop("OC", axis=1, inplace = False).values
test_x_data = testdf.drop("OC", axis=1, inplace = False).values
train_y_data = usedf["OC"].values.reshape([-1,1])

## 1 ) sklearn / LogisticRegression

In [466]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
myModel = model.fit(train_x_data, train_y_data)
prediction = myModel.predict(test_x_data)

C:\python\envs\cpu_env\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## 2 ) svm

In [478]:
import sklearn as sk
from sklearn import svm
import pandas as pd
import os

SVM = svm.LinearSVC()
SVM.fit(train_x_data, train_y_data)
prediction = SVM.predict(test_x_data)

C:\python\envs\cpu_env\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\python\envs\cpu_env\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

## 3 ) random forest

In [52]:
import sklearn as sk
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(n_estimators=100, max_depth=10, random_state=0)
RF.fit(train_x_data, train_y_data)
prediction = RF.predict(test_x_data)

C:\python\envs\cpu_env\lib\site-packages\ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

## 4 ) tmp

In [488]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

In [489]:
train_x_data.shape

(301, 11)

In [490]:
X = tf.placeholder(shape = [None,11], dtype = tf.float32)
Y = tf.placeholder(shape = [None,1], dtype = tf.float32)

W = tf.Variable(tf.random_normal([11,1]), name = "Weight")
b = tf.Variable(tf.random_normal([1]), name = "bias")

logit = tf.matmul(X,W) + b
H = tf.sigmoid(logit)

cost = tf.reduce_mean(tf.nn.sigmoid_cross_entropy_with_logits(logits = logit,
                                                             labels = Y))

optimizer = tf.train.GradientDescentOptimizer(learning_rate = 0.01)
train = optimizer.minimize(cost)

sess = tf.Session()
sess.run(tf.global_variables_initializer()) 

for step in range(30000):
    _,cost_val = sess.run([train,cost],
                         feed_dict={
                             X : x_data,
                             Y : y_data
                         })
    if step % 3000 == 0:
        print("cost값은 : {}".format(cost_val))
        
result = tf.cast(sess.run(H > 0.5, 
                          feed_dict = {X : test_x_data}),
                                    dtype = tf.int32)

AttributeError: module 'tensorflow' has no attribute 'placeholder'

In [ ]:
# @ 예측 @
result = tf.cast(sess.run(H > 0.5, 
                          feed_dict = {X : test_x_data}),
                 dtype = tf.int32)
test_df["Survived"] = sess.run(result)

result_df = pd.merge(PassengerId,test_df["Survived"],how = "inner", left_index = True, right_index = True)

display(result_df)
result_df.to_csv("result.csv", index = False)

# 5. 저장

In [ ]:
# 저장함수
def save_file(prediction, name) :
    sub = pd.read_csv('./data/submission.csv')
    sub['OC'] = prediction
    sub.to_csv('./submission/submission_' + name + '.csv', index=False)
    return print('done')

In [ ]:
save_file(prediction, 1)
# sklearn.logisticRegression : prediction의 모든 값이 1 임

In [479]:
save_file(prediction, 'svm1')
# sklearn.svm : prediction 값이 매우 다양함, 0.3228346457

done

In [484]:
save_file(prediction, 'RF1')
# sklearn.RandomForestClassifier : 0.85826

done